@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Kosugi+Maru&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: 1px solid red;
}

p {
  font-family: 'Kosugi Maru', sans-serif;
}

.body-h1 {
  font-family: 'BIZ UDPGothic', sans-serif;
  font-size: 40.25px;
  text-align: center;
  fill-opacity: 0;
}

@supports((text-stroke: 2px #07295b) or (-webkit-text-stroke: 2px #07295b)) {
  .body-h1 {
    color: transparent;
    -webkit-text-stroke: 3px #07295b;
    text-stroke: 2px #07295b;
    text-shadow: none;
  }
}

#top {
  background-image: url(../img/top-natsu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-wrapper p {
  color: #07295b;
  font-size: 46.88px;
  text-shadow:
    -1px -1px 0 #ffffff68,
    0 -1px 0 #ffffff68,
    1px -1px 0 #ffffff68,
    1px 0 0 #ffffff68,
    1px 1px 0 #ffffff68,
    0 1px 0 #ffffff68,
    -1px 1px 0 #ffffff68,
    -1px 0 0 #ffffff68;
  text-align: center;
  margin: 110px 20px 88px 20px;
}

.title {
  display: block;
  margin-top: 117px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

#nav {
  /*width: 100%;
    position: fixed;
    top: 0;
    z-index: 5; */
  background-image: url(../img/navbar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-text {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.nav-text a {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 27.78px;
  color: #07295b;
  text-decoration: none;
}

.nav-text .link:hover {
  color: #fff
}

#body1 {
  background-image: url(../img/bg-1.png);
  background-size: 100%;
  background-attachment: fixed;
}

.waves {
  background-image: url(../img/waves.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: visible;
}

.body-h1 h1 {
  text-align: center;
  margin: 20px 20px 0px 20px;
  padding: 35px
}

/* slider */

.slideshow-container {
  width: 50%;
  position: relative;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}
.slide-img {
  width: 100%;
  max-width: 630px;
  height: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-wrapper {
  max-width: 100%;
  text-align: center;
  display: block;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #55afc6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #236e81;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.text {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 46.88px;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

.button-1-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.button-1a {
  background-image: url(../img/button-1.png);
  background-repeat: no-repeat;
  max-width: 50%;
  background-size: 100%;
  background-position: center;
  position: relative;
  flex : 1;
}

.p-button {
  color: #9a9516;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 37.5px;
  text-shadow:
    -1px -1px 0 #fff,
    0 -1px 0 #fff,
    1px -1px 0 #fff,
    1px 0 0 #fff,
    1px 1px 0 #fff,
    0 1px 0 #fff,
    -1px 1px 0 #fff,
    -1px 0 0 #fff;
  text-align: center;
  margin : 58px 10px 80px 10px;
}

.p-button .bold a {
  color: #827e16;
  text-decoration: none;
}